:root {
  /* For Fonts */
  --primary-color: red;
  --secondary-color: blue;
  --primary-slider: black;

  /* for Border */
  --primary-border: black;
  --secondary-border: red;

   /* for Font Size */
   --fz-10: 10px;
   --fz-40 : 40px;
   --fz-50p : 50%;

   /* for headers */
   --primary-topnav: white;
   --primary-searchnav: white;
   --primary-navbar: rgba(29,112,186);

   /* for navbar list color */
   --seconday-navbar: white;
   --seconday-navbar-dropdown: black;

   /* for navbar list font */
   --fz-12: 12px;

   /* card Slider color and size */
   --primary-background:rgba(0, 0, 0, 0.7);
   --primary-color-slider: white;
}