:root {
  /* For Fonts */
  --primary-color: red;
  --secondary-color: blue;
  --primary-slider: black;

  /* for Border */
  --primary-border: black;
  --secondary-border: red;

   /* for Font Size */
   --fz-10: 10px;
   --fz-40 : 40px;
   --fz-50p : 50%;

   /* for headers */
   --primary-topnav: white;
   --primary-searchnav: white;
   --primary-navbar: blue;

   /* for navbar list color */
   --seconday-navbar: white;

   /* for navbar list font */
   --fz-12: 12px;
}