@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/* login.jsx */
.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a higher z-index value */
  border: 1px solid grey;
}
.form-login{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 1px solid red;
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.login-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

/* Your login form styles */
.login-container-label {
  display: block;
  margin-bottom: 10px;
}

.login-container-input {
  width: 100%;
  height: 56px;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.login-container-button {
  padding: 16px 24px;
  background-color: black;
  width: 100%;
  height: 56px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1px;
}
.login-container-button2{
  padding: 4px;
  width: 65px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
.login-container-button2:hover{
  background-color: red;
}

.login-container-button:hover {
  background-color: #0056b3;
}
/* login.jsx */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* slider.jsx */
.colSlider {
  width: 100%;
  height: auto;
}
.sliderTxt {
  font-size: small;
  text-align: center;
  margin-top: 5%;
}
.rSlider p {
  color: var(--primary-slider);
}
/* slider.jsx */

/* top menu in top bar css topnav.jsx */
/* .topMenue {
  color: var(--primary-color);
  display: flex;
  list-style: none;
  justify-content: flex-end;
}
.topMenue li a {
  text-decoration: none;
  list-style: none;
  font-size: var(--fz-10);
  color: var(--primary-color);
  margin-left: 4px;
} */
/* top nav text */
/* .topnavText {
  color: var(--primary-color);
  height: auto;
  font-size: 50%;
  display: flex;
  align-items: center;
} */
/* top bar select menu */
/* .top-select {
  color: var(--primary-color);
  font-size: var(--fz-10);
  margin-right: 5%;
}
.topSelecter {
  color: var(--primary-color);
} */
/* search bar menu */
/* .search-menu ul {
  display: flex;
  justify-content: flex-end;
}
.search-menu ul li {
  list-style: none;
}
.search-menu ul li a {
  text-decoration: none;
} */
/* top menu in top bar css topnav.jsx */

/* card slider cardslider.jsx */
.cardSlider {
  height: 37vh;
  width: 275px;
}

.cardslider-info {
 position: absolute;
 bottom: 0;
 left: 0;
 background:var(--primary-background);
 padding: 10px;
 color: var(--primary-color-slider);    
 width: 100%;
}
.cardslider-pic{
  position: relative;
  height: 37vh;
  width: 275px;
}
.cardslider-pic img {
  width: 100%;
  height: 100%;
}
/*  cardslider.jsx */
/* cardsdata.jsx */
.cardslider-div{
  border: 1px solid black;
}

.toplist {
  display: flex;
  justify-content: flex-end;
  background-color: red;
}
/* cardsdata.jsx */

/* card.jsx */
/* .shop-button{
  background-color: black;
  border-radius: 20px ;
  border: none;
  color: white;
  opacity: 1px;
}
.card-div{
  background-color: white;
}
.card-name{
  font-size:13;
  font-family:"Poppins";
  text-decoration:"none";
  color:"black" 
}
.card-name:hover{
  color: blue;
}
.shop-button:hover{
  background-color: blue;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.card{ 
  width: 15rem; 
  margin-bottom: 20px; 
}
.card-img-top{
  width: 100px; 
  height: auto;
  margin: 0 auto;
  border: 1px solid var(--primary-border);
  padding: 5%;
}
.card-body{
  text-align: center; 
}
.btn-card{
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  background-color:rgba(255, 255, 255, 0.5);
}
.products-home{
  text-align: center;
  font-size: 60px;
} */
/* card.jsx */


/* top icon */
/* .topicon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5%;
}
.topicon a {
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 1%;
  font-size: var(--fz-10);
} */



/* navbar.jsx */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav li a {
  color: var(--seconday-navbar) !important;
  font-size: var(--fz-12);
}
.dropdown li a {
  color: var(--seconday-navbar-dropdown) !important;
}

/* navbar.jsx */



/* header colors and styles */
.topContainer {
  background-color: var(--primary-topnav);
}
.searchContainer {
  background-color: var(--primary-searchnav);
}
.navbarContainer {
  background-color: var(--primary-navbar);
}
/* topnav with clamp */
/* .topContainer {
  width: clamp(60px, 100%, 1350px);
}
.topContainer {
  display: block;
}
@media (max-width: 600px) {
  .topContainer {
    display: none;
  }
} */

/* search bar */
/* .searchContainer {
  width: clamp(60px, 100%, 1350px);
}
.searchInput {
  display: block;
}
@media (max-width: 600px) {
  .searchInput {
    display: none;
  }
  .search-menu {
    margin-left: 31%;
  }
  .searchLogo img {
    width: 60%;
    margin-top: 5%;
  }
} */

/* navbar */
/* .navbarContainer {
  width: clamp(60px, 100%, 1350px);
} */
/* side bar */
/* CSS Styles for Sidebar Component */
/* 
.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: column;
} */
/* blog css */
/* .side-bar-container {
  position: sticky;
  top: 0;
}
.content-container {
  flex: 1;
  margin-left: 20px;
} */
/* blog css */



/* hero Section */
.hero-section{
  background-image: url("https://www.portotheme.com/wordpress/porto/shop2/wp-content/uploads/sites/78/2018/02/shop2_about_us_banner.jpg?id=850");
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  padding: 25px;
}
